<div class="mui-col-md-4">
  <div class="mui-panel">

    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        {% if site.links.twitter %}
            <li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" class="mui-btn "><i class="fa fa-twitter"></i>Twitter</a></li>
        {% endif %}
        {% if site.links.facebook %}
            <li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank" class="mui-btn"><i class="fa fa-facebook"></i>Facebook</a></li>
        {% endif %}
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Mail</a></li>
        {% endif %}
    </ul>

    <h2>About</h2>
    <ul class="about-links">
        <li> "Mình là Nam Anh, một sinh viên IT của HCMUS, mình làm blog này từ khi còn là một sinh viên IT năm nhất, mình muốn thông qua blog này giúp các bạn sinh viên hay học sinh có thể tìm đọc những bài viết trên quora hay medium bằng Tiếng Việt. Lí do mình chọn dịch bài đơn giản vì khả năng viết của mình không được tốt cho lắm ^^ Hi vọng trong tương lai mình có thể tự viết các bài viết dành cho blog của mình."
    </ul>
  </div>
</div>
